<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.catchGame.wonderShauryaAhuja"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>catch it if you can</name>

  <description>
      wonder kid Shaurya Ahuja first game app
  </description>

  <author href="" email="ahuja.sachin04@gmail.com">
      Shaurya Ahuja
  </author>
<icon src="icon.png" />
</widget>